---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import heroImage from  '../assets/hero.png'
import "../styles/global.css";
import { Icon } from 'astro-icon/components';

const rssUrl = new URL('rss.xml', Astro.site);

---

<aside class="flex py-10 max-w-4xl">
	<!-- <button>Menu</button> -->
	<header class="flex flex-col gap-2 text-sm text-zinc-300 bg-black p-8 rounded-lg polka-pattern">

		<div class="flex items-center gap-5">
			<figure>
				<HeaderLink href="/">
					<Image class="rounded-lg object-cover w-26 h-26 min-w-26 min-h-26" width={512} height={512} src={heroImage} alt="Me" />
				</HeaderLink>
			</figure>

			<div class="flex flex-col">
				<span class="flex items-start text-zinc-400">
					<Icon name="location_line" size="18"/>
					Andalucía, Spain
				</span>
				<h1 class="flex items-center text-5xl text-black font-extrabold gap-2 no-underline whitespace-nowrap">
					<HeaderLink class="text-white tracking-tighter" href="/">Rafael Jaén</HeaderLink>
					<span class="text-green-600">
						<Icon name="certificate_fill" size="28"/>
					</span>
				</h1>
				<span class="text-lg text-zinc-300 leading-3 tracking-tight">@rafitajaen</span>
				<!-- <span class="flex text-md items-center gap-1 pt-5 whitespace-nowrap">
					<Icon name="briefcase_line" size="18"/>
					Solopreneur · FullStack Developer
				</span> -->
			</div>
		</div>

		<!-- <span class="flex items-center text-lg text-rose-600">
			<strong class="p-2 text-rose-300">1280</strong> Following
			<strong class="p-2 text-rose-300">30</strong> Followers
			<strong class="p-2 text-rose-300">15</strong> Projects
		</span> -->

		<h2 class="text-white text-xl font-extrabold pt-8 text-teal-500">Solopreneur on his journey to freedom.</h2>
		<p class="text-lg leading-6">
			I’m an indie maker on a journey of creating in public.
			I share the projects I’m building, the ideas I’m testing, and the experiments that keep me learning. 
			Some projects turn into something real, 
			others are just stepping stones—but every single one shapes the path forward. Welcome to my little corner of the internet 👇</p>
		
		<span class="flex items-center gap-3 text-grey-700 pt-4">
			<HeaderLink href="https://x.com/rafitajaen">
				<Icon name="social_x_line" size="22"/>
			</HeaderLink>
			<HeaderLink href="https://github.com/rafitajaen">
				<Icon name="github_line" size="22"/>
			</HeaderLink>
			<HeaderLink href="https://linkedin.com/in/rafitajaen">
				<Icon name="linkedin_line" size="22"/>
			</HeaderLink>
			<HeaderLink href={rssUrl}>
				<Icon name="rss_2_line" size="22"/>
			</HeaderLink>
		</span>

	</header>
</aside>

<style>
	.pattern {
		background-color: #0A0A0A;
		opacity: .98;
		background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
		background-size: 30px 53px;
		background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px;
	}
	.polka-pattern {
		background-color: #000000;
		opacity: 1;
		background-image: radial-gradient(#383838 0.75px, #000000 0.75px);
		background-size: 15px 15px;
	}
</style>


