---
import { Icon } from "astro-icon/components";
---

<section id="experience" class="flex flex-col gap-6 hidden">

    <ul class="flex flex-col gap-8">

        <li class="group hover:translate-x-1 transition-all duration-300 ease-out flex flex-col gap-4 sm:gap-0">

            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                
                <div class="flex items-center gap-2">
                    <Icon name="surcontrol" size="18" />
                    <h4 class="text-sm font-medium text-zinc-700 dark:text-zinc-400">Surcontrol</h4>
                </div>

                <span class="text-xs text-zinc-400 dark:text-zinc-500">Spain, On-site</span>
            </div>
            
            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                <h3 class="flex flex-wrap gap-2 text-md font-medium">Technical Lead
                    
                    <div class="flex items-center gap-1 rounded-md border-green-300 bg-green-500/10 px-2 py-1 text-xs w-fit">
                        <div class="size-2 rounded-full bg-green-500 animate-pulse"></div>
                        Working
                    </div>
                </h3>
                <span class="text-xs text-zinc-400 dark:text-zinc-500">Jan 2024 - Oct 2025 (1 yrs 10 mo)</span>

            </div>

            <p class="text-sm text-zinc-500 dark:text-zinc-400 my-2">
                I worked as a Full Stack Developer and Technical Leader at Surcontrol, contributing to the development of innovative SaaS solutions for industrial automation. Leading a skilled team, I focus on collaboration, technical excellence, and scalable architecture.
            </p>
            <!-- <ul class="text-sm text-zinc-500 dark:text-zinc-500 my-2 ml-2">
                <li>
                    Managing task assignments, incident tracking, and code reviews.
                </li>
                <li>
                    Contributing to system architecture design and technology stack decisions to ensure scalability.
                </li>
                <li>
                    Leading a team of 6+ developers, promoting collaboration and accelerating onboarding through training and mentorship.
                </li>
            </ul> -->
            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between mt-2">
                <h3 class="flex flex-wrap gap-2 text-md font-medium">
                    Full Stack Web Developer
                </h3>
                <span class="text-xs text-zinc-400 dark:text-zinc-500">Nov 2022 - Jan 2024 (1 yrs 3 mo)</span>

            </div>

            <p class="text-sm text-zinc-500 dark:text-zinc-400 my-2">
                I contributed to the development of a SaaS platform for industrial automation, working on asset monitoring, data analysis, and migrating from monolithic to microservices architecture.
            </p>

            <!-- <ul class="text-sm text-zinc-500 dark:text-zinc-500 my-2 ml-2">
                <li>
                    Migrating from a monolithic architecture to a microservices-based infrastructure.
                </li>
                <li>
                    Developing a SaaS platform focused on asset monitoring, data analysis, reporting, personnel management, and operational performance.
                </li>
            </ul> -->

            <span class="text-xs text-zinc-400 font-mono">Vanilla TypeScript | .NET | MVC | Webpack | SCSS | Docker | PostgreSQL</span>
  
        </li>

        <li class="group hover:translate-x-1 transition-all duration-300 ease-out flex flex-col gap-4 sm:gap-0">

            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                
                <div class="flex items-center gap-2">
                    <Icon name="esmonet" size="18" />
                    <h4 class="text-sm font-medium text-zinc-700 dark:text-zinc-400">esmonet</h4>
                </div>

                <span class="text-xs text-zinc-400 dark:text-zinc-500">Remote</span>
            </div>
            
            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                <h3 class="flex flex-wrap gap-2 text-md font-medium">
                    Full Stack Developer
                </h3>
                <span class="text-xs text-zinc-400 dark:text-zinc-500">Nov 2021 - Nov 2022 (1 yr)</span>

            </div>

            <p class="text-sm text-zinc-500 dark:text-zinc-400 my-2">
                At Esmonet, I was responsible for the development and scaling of a SaaS platform serving the online printing industry. My work ensured the platform could handle heavy traffic and maintain usability across devices.
            </p>
            <!-- <ul class="text-sm text-zinc-500 dark:text-zinc-500 my-2 ml-2">
                <li>
                    Built and scaled a SaaS platform for the online printing sector, capable of handling over 10,000 visits and 2,000 orders per day.
                </li>
                <li>
                    Implemented a fully responsive design architecture to ensure optimal usability across desktop and mobile devices.
                </li>
            </ul> -->
            
            <span class="text-xs text-zinc-400 font-mono">Vue | TypeScript | Quasar | Pinia | .NET | SQL Server | Entity Framework</span>
  
        </li>

        <li class="group hover:translate-x-1 transition-all duration-300 ease-out flex flex-col gap-4 sm:gap-0">

            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                
                <div class="flex items-center gap-2">
                    <Icon name="sibarita" class="rounded-sm" size="18" />
                    <h4 class="text-sm font-medium text-zinc-700 dark:text-zinc-400">La Casa Sibarita</h4>
                </div>

                <span class="text-xs text-zinc-400 dark:text-zinc-500">Remote</span>
            </div>
            
            <div class="flex flex-col-reverse sm:flex-row sm:items-baseline justify-between">
                <h3 class="flex flex-wrap gap-2 text-md font-medium">
                    Front-End Developer
                </h3>
                <span class="text-xs text-zinc-400 dark:text-zinc-500">Feb 2021 - Nov 2022 (10 mo)</span>

            </div>

            <p class="text-sm text-zinc-500 dark:text-zinc-400 my-2">
                During my time at La Casa Sibarita, I focused on front-end development, content management, and SEO optimization to improve web visibility and performance.
            </p>
            <!-- <ul class="text-sm text-zinc-500 dark:text-zinc-500 my-2 ml-2">
                <li>
                    Developed advanced layouts using HTML, CSS, and JavaScript for custom websites.
                </li>
                <li>
                    Managed content publishing and curation.
                </li>
                <li>
                    Applied on-page SEO strategies to enhance visibility and search performance.
                </li>
            </ul> -->
            
            <span class="text-xs text-zinc-400 font-mono">JavaScript | WordPress | Ahrefs | Semrush | Google Search Console</span>
  
        </li>

    </ul>

</section>
